@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #e4bc7d;
  background-color: #0c0c0c;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.973);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 50;
}

.marquee__group {
  z-index: 50;
  animation: scroll infinite 55s linear;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-166px * 4));
  }
}

.marquee__grouptwo {
  animation: scrolltwo infinite 65s linear;
}

@keyframes scrolltwo {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(-166px * 4));
  }
}
